body{
    margin: 0px;
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    box-sizing: border-box; 
}

html,body, app-root{
    display: flex;
    flex: 1;
    height: 100%;
}


.flex{
    display:flex;
    flex-direction: row;
}
app-root{
    @media screen and (min-width:@media_tablet){
        margin: 1.5em;
        align-items: center;
    }
}
.holder{
    max-width:@media_netbook;
}