<ul class="list">
  <li class="list__item" [class.list__item--disabled]="shoppingService.isAlreadyOnCart(item)" *ngFor="let item of shoppingService.items">
    <div class="list__item__name">{{ item.name }}</div>
    <div class="list__item__pvp">{{ item.pvp | currency:'EUR':'symbol':'.2-2':'es' }}</div>
    <button class="list__item__btn" (click)="shoppingService.addToCart(item)"></button>
  </li>
</ul>
