@import '../../styles/variables.less';

.list{
    margin: 1em;
    &__item{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 2em;
        margin: 1.5em 0;
        &__name{
            flex-basis: 60%;
            line-height: 1.5em;
            padding-left: 1em;
            max-height: 3em;
            overflow: none;
            @media screen and (max-width:@media_tablet){
                font-size: 3.5vw;
            }
        }
        &__pvp{
            flex-basis: 20%;
            font-weight: bold;
            text-align: right;
            padding: 0.875em;
        }
        &__btn{
            min-width: 6em;
            height: 3em;
            background: @primary url(../../assets/icons/add-to-cart.svg);
            background-repeat:no-repeat;
            background-position: center center;
            background-size: 60% 60%;
            border: none;
            border-radius: 0.5em;
            cursor: pointer;
        }
    }
}