<h3 class="title">MI CESTA:</h3>
<ul class="cart">
  <div *ngIf="shoppingService.cartItems.length === 0" class="cart__no-items">Aun no has añadido ningún artículo.</div>
  <li class="flex cart__item" *ngFor="let item of shoppingService.cartItems">
    <div class="cart__item__image">
      <img [src]="'/assets/products/'+item.image"/>
    </div>
    <div class="cart__item__name">{{ item.name }}</div>
    <div class="cart__item__pvp">{{ item.pvp | currency:'EUR':'symbol':'.2-2':'es'}}</div>
  </li>
</ul>
<div class="total">
  <div class="total__products">
    <span class="total__products__label">Total </span>
    <span class="total__products__value"> ({{ shoppingService.cartItems?.length }} productos) </span>
  </div>
  <div class="total__amount"> {{ shoppingService.cartTotalAmount | currency:'EUR':'symbol':'.2-2':'es' }}</div>
</div>
