@import '../../styles/variables.less';

:host{
    flex: 1;
    flex-basis: 50%;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.25);   
    margin: 0 2em;
    @media screen and (max-width:@media_tablet){
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.750em;
        margin: 0;
    }
    .title {
        padding: 0.750em 1em;
        @media screen and (max-width:@media_tablet){
            padding: 0;
        }
    }
    .cart, .total{
        padding: 0.750em 1em;
        @media screen and (max-width:@media_tablet){
            padding: 0;
        }
    }
    .cart{
        list-style: none;
        @media screen and (max-width:@media_tablet){
            display: none;
        }
        &__item{
            margin-bottom: 1em;
            align-items: center;
            &__image{
                width: 4em;
                height: 4em;
                border: 1px solid @border_color;
                text-align: center;
                > img{
                    max-width: 4em;
                    height: auto;
                }
            }
            &__name{
                flex: 1;
                margin:0 1em;
            }
        }
    }
    .total{
        display: flex;
        font-size: 1.2em;
        margin:0 0.250em;
        &__products{
            flex-basis: 75%;
            &__label{
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.2em;
            }
        }
        &__amount{
            justify-content: flex-end;
            flex: 1;
            text-align: right;
            font-weight: bold;
            font-size: 1.2em;
        }
    }
}